@import '/src/consts.scss';
@import '/src/mixins.scss';

.-sidebar-container{
  padding: 20px 12px;
  height: 100%;
  background-color: map-get($primary, 100);
  box-shadow: 5px 10px 2px rgba(103, 58, 183, 0.4588235294);

  @include mobile {
    padding-top: 40px;
  }

  .-menu-voices {
    display: flex;
    flex-direction: column;
    gap: 4px;

    @include mobile {
      align-items: center;
    }
  }

  .-menu-voice {
    display: flex;
    align-items: center;
    gap: 12px;
    opacity: .8;
    padding: 8px;
    border-radius: 4px;

    &:hover { 
      opacity: 1;
      background-color: map-get($primary, 50);
    }

    @include mobile {
      justify-content: center;
      width: 100%;
      max-width: 500px;
    }

  }
  .-active {
    background-color: map-get($primary, 50);
    color: map-get($primary, 700);
  }
}

