@import '/src/consts.scss';

.-container {
  padding: 20px;

  .-title {
    margin-bottom: 20px;
  }

  .-content {
    margin-top: 12px;
  }

  .-actions {
    margin-top: 36px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
}