@import '/src/consts.scss';

.-topbar{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.-body{
  background-color: yellow;
  height: calc(100vh - $topbar-height);
  margin: $topbar-height auto 0;
  display: flex;

  .-sidebar{
    width: 0;
    background: lightblue;
    border: 1px solid red;
    display: block;
    overflow: auto;
    transition: all 0.2s ease-in-out;

    &.-is-open{
      width: $sidebar-width;
    }
  }

  .-page{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
  }
}

//TODO: refactor 
@media only screen and (max-width: 600px) {
  .-is-open {
    width: 100% !important;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}