@import '/src/consts.scss';

.-topbar-container{
  padding: 8px;
  height: $topbar-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: map-get($primary, 500); 
  box-shadow: 0 2px 4px #673ab775;

  mat-icon {
    color: #fff;
  }
}