@import '/src/mixins.scss';

.-news-container {
  @include mobile-tablet {
    max-width: 550px;
    margin: 0 auto;
  }
}

.-title{
  margin-bottom: 36px;
}

.-filters-container {
  margin-bottom: 28px;
}

.-news-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.-no-data-container {
  margin: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;

  span {
    font-size: 18px;
  }

  img.-no-data {
    width: 350px;
  }
}

.-paginator-container {
  margin-top: 32px;

  mat-paginator {
    border-radius: 8px;
  }
}