@import '/src/consts.scss';
@import 'src/mixins.scss';

:host {
  display: block;
  width: 100%;
}

.-card-container {
  display: flex;
  background-color: map-get($primary, 50);
  border-radius: 8px;

  @include mobile-tablet {
    flex-direction: column;
  }

  .-image-side {
    flex-basis: 25%;

    img {
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;

      @include desktop {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }

      @include mobile-tablet {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
    }
  }  

  .-content-side{
    padding: 24px;
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    .-title {
      margin-bottom: 4px;
    }

    .-author{
      font-style: italic;
    }

    .-lang {
      margin-right: 6px;
    }

    .-actions{
      margin-top: 12px;
      display: flex;
      gap: 8px;

      button {
        width: 120px;

        @include mobile-tablet {
          width: 100%;
        }

        &.-toggle-favorite-btn {
        background-color: map-get($primary, 100);
        }
      }
    }
  }
}

.-chip {
  background-color: map-get($primary, 400);
  color: #fff;
  padding: 4px 8px;
  border-radius: 20px;
}

// solution founded online to set elipsis (https://albertwalicki.com/learn/solutions/how-to-limit-text-to-n-lines)
.-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  
  // 1 line max
  &.-one-line{
    -webkit-line-clamp: 1; /* number of lines to show */
  }
  
  // 3 line max
  &.-three-lines {
    -webkit-line-clamp: 3; /* number of lines to show */
  }
}

.-op-8{
  opacity: .8;
}