@import '/src/mixins.scss';
@import '/src/consts.scss';

$gap-form-fields: 12px;

.-form {
  display: flex;
  flex-direction: column;
  gap: $gap-form-fields;
  margin-bottom: 24px;
}

.-row{
  display: flex;
  justify-content: space-between;
  gap: $gap-form-fields;

  @include mobile {
    flex-direction: column;
    gap: $gap-form-fields;
  }
}

mat-form-field,
.-actions button
{
  width: 100%;
}

button.-reset-btn {
  background-color: map-get($primary, 100);
}