@import '/src/consts.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: $page-background-color;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
}

//--------------------------------
// Custom typography
.-h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
}

.-h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

.-h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}
//--------------------------------