<app-main-template>
  <div body>
    <div class="-home-container">
      <!-- Title -->
      <div class="-title-section -custom-box-shadow">
        <mat-icon>newspaper</mat-icon>
        <span class="-title">{{ title }}</span>
      </div>

      <div class="-info-section -custom-box-shadow">
        <mat-icon>surfing</mat-icon>
        <span class="-info">Naviga tra le diverse sezioni!</span>
      </div>
      <div class="-info-section -custom-box-shadow">
        <mat-icon>newspaper</mat-icon>
        <span class="-info">Sfoglia le anteprime di notizie da tutto il mondo!</span>
      </div>
      <div class="-info-section -custom-box-shadow">
        <mat-icon>favorite</mat-icon>
        <span class="-info">Salva i tuoi articoli preferiti!</span>
      </div>
    </div>

  </div>
</app-main-template>