@import '/src/mixins.scss';
@import '/src/consts.scss';

.-home-container {

  @include mobile-tablet {
    max-width: 550px;
    margin: 0 auto;
  }
}

.-title-section,
.-info-section
{
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px;
  border-radius: 8px;
  background-color: map-get($primary, 100);
  color: map-get($primary, 500);
  margin-bottom: 28px;

  span.-title {
    font-size: 22px;
    font-weight: 700;
  }
}

.-title-section {
  margin-bottom: 60px;
}

.-info-section {
  margin-bottom: 16px;
  background-color: map-get($primary, 50);
}